@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* { 
   scroll-behavior: smooth; /* chrome */
  -webkit-overflow-scrolling: touch; /* safari */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* navbar */
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.showcase , .languages , .exprerience , .hobbies{
  padding-top: 9.6vh;
}

.navbar ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  /* height: 350px; */
  width: 400px;
  padding: 40px;
  z-index: 1;
  justify-content: flex-end;
}

.showcase-form .form-control {
  margin: 15px 0;
}

/* .showcase-form .form-control {
  display: inline-grid;
  justify-content: center;
  align-items: center;
} */

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-2deg);
}

/* Skill Languages */

.languages .flex {
  flex-wrap: wrap;
  overflow: hidden;
}

.languages .card {
  text-align: center;
  margin: 0.1rem;
}

.languages .card h4 {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

/* .languages .card:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
} */

/* Hobbies */

.hobbies .card > i {
  margin-right: 20px;
}

.hobbies .grid {
  padding: 1.87rem;
  /* margin: 1rem; */
  overflow: hidden;
}

.hobbies .grid > *:first-child {
  grid-column: 1 / span 3;
}

.hobbies .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
}

/* tablet */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .languages .grid,
  .hobbies .grid , .projects .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
  }

  .languages .grid , .projects .grid{
    grid-template-columns: repeat(3 ,1fr) !important;
  }

  .showcase {
    height: auto;
  }
  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .hobbies {
    text-align: center;
  }

  .hobbies img {
    justify-self: center;
  }

  .hobbies .grid > *:first-child,
  .hobbies .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .form-control .flex{
    flex-direction: column;
    flex-wrap: wrap;
  }
}


/* Mobile */

@media (max-width: 500px){

 .languages .grid , .projects .grid{
    grid-template-columns: repeat(2 ,1fr) !important;
  }

  /* .navbar{
    height: 110px;
  } */

  .navbar .flex{
    flex-direction: column;
  }

  .navbar ul{
    padding: 10px;
    background-color: rgba(0, 0,0, 0.1);
  }

  .showcase-form{
    width: 300px;
  }

  .flex{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .showcase , .languages , .exprerience , .hobbies{
    padding-top: 5vh;
  }
}